/******bootstrap tweaks******/
.list-group-item {
    padding: 5px;
    word-wrap: break-word;
}
.list-group-item:nth-child(odd) {
    background: whitesmoke;
}
.well {
    margin: 1px !important;
    padding: 5px 10px 5px 10px !important;
}
.container {
    width: 100% !important;
    max-width: none !important;
}

/******app CSS classes******/
.section-label {
    margin: 10px !important;
    font-weight: bold;
    font-size: larger;
    text-align: right;
}

.description-label {
    font-weight: bold;
    font-size: larger;
}
.description-line {
    font-style: italic;
    background-color: whitesmoke;
    word-break: break-all;
}
.description-body {
    margin-top: 10px !important;
}

#description {
    margin-right: 15px;
    margin-bottom: 5px;
    position: fixed;
    overflow-wrap: normal;
    overflow: auto;
}