/******bootstrap tweaks******/
.list-group-item {
  padding: 5px;
  word-wrap: break-word;
}
.list-group-item:nth-child(odd) {
  background: whitesmoke;
}
.well {
  margin: 1px !important;
  padding: 5px 10px 5px 10px !important;
}

/******app CSS classes******/
.section-label {
  margin: 10px !important;
  font-weight: bold;
  font-size: larger;
  text-align: right;
}

.description-label {
  font-weight: bold;
  font-size: larger;
}
.description-line {
  font-style: italic;
  background-color: whitesmoke;
  word-break: break-all;
}
.description-body {
  margin-top: 10px !important;
}

#description {
  margin-left: 10px;
  margin-bottom: 5px;
  position: fixed;
  overflow-wrap: normal;
  overflow: auto;
}

/******for mobile support******/
@media (max-width: 768px) {
  #description {
    padding: 20px;
    margin-left: 0px;
    border: 1px solid #ddd;
    border-radius: 14px;
    color: whitesmoke;
    background-color: #353535;
    z-index: 99;
  }
  #description::after {
    content: "Or tab this box to hide description";
  }
  .description-line {
    color: #353535;
  }
}
